# This is an example file configuration.
# A file is used because docker-compose is versioned. 
# Here as an example we put all the env together but 
# in production each docker should have their own env_file. 

# PGADMIN
PGADMIN_DEFAULT_EMAIL=admin@gmail.com
PGADMIN_DEFAULT_PASSWORD=secret
# POSGRES
POSTGRES_PASSWORD=secret
# PGREST
PGRST_DB_URI=postgres://postgres:secret@postgres:5432/postgres
PGRST_DB_SCHEMA=public
PGRST_DB_ANON_ROLE=anon
PGRST_JWT_SECRET=asd123456
